#PORQUE HAY TANTAS COSAS QUE IGNORAAAR
#RAAAAAAHHHHHHHHHH
*.wpc
*lpr
*.jou
*.log
*.str
*.db
*.wdf
*.bat
*.prj
*.v
*.sdb
*.rlx
*.ini
*.pb
*.txt
*.sh
*.tcl
*.wdb
*.o
*.c
*.dbg
*.mem
*.reloc
*.rtti
*.svtype
*.type
*.xdbg
/project_1/project_1.sim/sim_1/behav/xsim/xsim.dir
/SingleCycleProcessor/SingleCycleProcessor.sim/sim_1
